<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
    <input type="text" id="user_min" name="min" placeholder="E.g. 2.5">
  </div>

  <div>
    <label for="user_max">Maximum</label>
    <input type="text" id="user_max" name="max" placeholder="E.g. 10">
  </div>

  <div>
    <button>Pick random number</button>
  </div>
</form>
