<form action="/payment/results">
  <div>
    <label for="user_apr">APR</label>
    <input type="text" id="user_apr" name="apr" placeholder="E.g 3.99">
  </div>

  <div>
    <label for="user_year">Number of years</label>
    <input type="text" id="user_year" name="num_year" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="user_amount">Principal</label>
    <input type="text" id="user_amount" name="num_amount" placeholder="How much principal?">
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
